<a href="https://colab.research.google.com/github/Slrosales/Programacion_con_Python/blob/main/M%C3%B3dulo%201/2_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Concepto**

Las listas son estructuras de datos muy versátiles y ampliamente utilizadas para almacenar y manipular datos en un programa, especificamente es una colección ordenada de elementos que pueden ser de diferentes tipos (números, cadenas, otros objetos, etc.).

In [259]:
lista_numeros = [1, 2, 2, 3, 4, 5]
lista_nombres = ["Luna", "Giuseppe", "Laura", "Rubens"]
lista_multi = [1, "hola", 2.5]

[pos 0, pos 1, pos 2, ... , pos n]

In [260]:
lista = [0, 8, 1, 2, 3, 3, 4]

In [261]:
# Imprime el valor en la posicón 1 de la lista
# nombre_lista[indice]
print(lista[5])

3

In [262]:
# Imprime el valor en la posicón -1 de la lista
# (De derecha a izquierda)
print(lista[-1])

4

In [263]:
# Dame los primeros 3 valores
# nombre_lista[pos inicial, pos final, paso]
print(lista[:3])

[0, 8, 1]

In [264]:
print(lista[2:5])

[1, 2, 3]

In [265]:
# Invertir orden de la lista
nueva_lista = lista[::-1]
nueva_lista

[4, 3, 3, 2, 1, 8, 0]

In [266]:
print(lista)
print(nueva_lista)

[0, 8, 1, 2, 3, 3, 4]
[4, 3, 3, 2, 1, 8, 0]

# Funciones

In [267]:
# len(nombre_lista): Retorna la longitud (número de elementos) de la lista
print(f"El tamaño de la lista es: {len(lista)}\n")

El tamaño de la lista es: 7

In [268]:
# nombre_lista.append(elemento): Agrega un elemento al final de la lista.
lista.append(5)
print("Se agrega el número 5 a la lista")
print(lista, "\n")

Se agrega el número 5 a la lista
[0, 8, 1, 2, 3, 3, 4, 5]

In [269]:
# lista.insert(posicion, elemento): Inserta un elemento en una posición específica de la lista.
print("Se inserta una 'x' en la posición 3")
lista.insert(3, "x")
print(lista, "\n")

Se inserta una 'x' en la posición 3
[0, 8, 1, 'x', 2, 3, 3, 4, 5]

In [270]:
# lista.remove(elemento): Remueve la primera aparición del elemento de la lista.
print("Se elimina la 'x' de la lista")
lista.remove("x")
print(lista, "\n")

Se elimina la 'x' de la lista
[0, 8, 1, 2, 3, 3, 4, 5]

In [271]:
#lista.pop(posicion): Remueve y retorna el elemento en la posición especificada.
print(f"Se obtine el número en la posición 6 ({lista.pop(6)}) y se elimina")
print(lista, "\n")

Se obtine el número en la posición 6 (4) y se elimina
[0, 8, 1, 2, 3, 3, 5]

In [272]:
# elemento in nombre_lista: Verifica si un elemento está presente en la lista.
print(f"¿Está el 4 en la lista?\nRespuesta: {4 in lista}\n")

print(f"¿Esta el 3 en la lista?\nRespuesta: {3 in lista}\n")

¿Está el 4 en la lista?
Respuesta: False

¿Esta el 3 en la lista?
Respuesta: True

In [273]:
# nombre_lista.index(elemento): Retorna el índice de la primera aparición del elemento.
print(f"En el número 2 esta en la posición: {lista.index(2)}\n")

En el número 2 esta en la posición: 3

In [274]:
# nombre_lista.count(elemento): Cuenta cuántas veces aparece un elemento en la lista.
print(f"El número 3 esta {lista.count(3)} veces en la lista\n")

El número 3 esta 2 veces en la lista

In [275]:
# nombre_lista.sort(): Ordena los elementos de la lista en orden ascendente.
lista.sort()
print(f"Lista ordenada: {lista}\n")

Lista ordenada: [0, 1, 2, 3, 3, 5, 8]

In [276]:
# lista.reverse(): Invierte el orden de los elementos en la lista.
lista.reverse()
print(f"Lista en orden inverso: {lista}")

Lista en orden inverso: [8, 5, 3, 3, 2, 1, 0]

## Diferencia entre `.pop()` y `.remove()`

In [277]:
# Quito un valor de la lista
x = lista.pop(1)
x

5

In [278]:
lista

[8, 3, 3, 2, 1, 0]

No imprime nada porque `.remove()` no guarda ese valor de la lista como el `.pop()`, literalmente lo eliminó y renombró la lista como x

In [279]:
lista

[8, 3, 3, 2, 1, 0]

# ¿Cómo operar si tengo una lista dentro de una lista?

In [280]:
lista_in_lista = lista.copy()
lista_in_lista.append(lista)
print("Se agrega el número 5 a la lista_in_lista")
print(lista_in_lista, "\n")

Se agrega el número 5 a la lista_in_lista
[8, 3, 3, 2, 1, 0, [8, 3, 3, 2, 1, 0]]

In [281]:
print(lista_in_lista[6][0])

8

In [282]:
# Elimino un valor de la lista con pop
x = lista_in_lista[6].pop(0)
print(x)
print(lista_in_lista)

8
[8, 3, 3, 2, 1, 0, [3, 3, 2, 1, 0]]

In [283]:
x = lista_in_lista[6].remove(0)
print(x)
print(lista_in_lista)

None
[8, 3, 3, 2, 1, 0, [3, 3, 2, 1]]

In [284]:
del lista_in_lista[6][0]
print(lista_in_lista)

[8, 3, 3, 2, 1, 0, [3, 2, 1]]

# Ejemplos

In [285]:
# Nueva lista2 con los valores de lista + 1
lista2 = []
for elemento in lista:
    lista2.append(elemento + 1)

print(lista2)

[4, 3, 2]

In [286]:
# La lista3 tiene en la posción i la suma de los valores de lista y lista2 en la posición i

lista3 = []
for i in range(len(lista)):
    suma = lista[i] + lista2[i]
    lista3.append(suma)

print(lista3)

[7, 5, 3]